
@{
	ViewBag.Title = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New", "Edit", "Movie", null, new { @class = "btn btn-primary" })
<table class="table table-hover" id="movies">
	<thead>
		<tr>
			<th>Movie</th>
			<th>Genre</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

@section scripts{

	<script>
        $(document).ready(function () {
			let table = $("#movies").DataTable({
                ajax: {
                    url: '/api/movies',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "name",
                        render(data, type, movie) {
                            return `<a href='/Movie/Edit/${movie.id}'>${movie.name}</a>`
                        }
                    },

                    {
                        data: "genre.name"
                    },

                    {
                        data: "id",
                        render(data) {
                            return `<Button class='btn btn-link js-delete' data-movie-id=${data}>Delete</button>`
                        }
                    }


                ]
            });

            $('#movies').on('click', '.js-delete', function () {
				let button = $(this);
				let movieid = $(this).attr('data-movie-id');

                bootbox.confirm("Are you sure that you want to delete", function () {
					$.ajax({
						url: '/api/movies/' + movieid,
						method: 'DELETE',
						success() {
							console.log(table);
							table.row(button.parents("tr")).remove().draw();
							//button.parents('tr').remove();
						}
					})
                })



            });

        })



	</script>


}
